@model SmallCRM.Admin.Models.ContactViewModel
@using SmallCRM.Admin.Extensions
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.Title = "Sil";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadSourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherRegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherRegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportsToContactOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportsToContactOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleOfCourtesy)
        </dt>

        <dd>
            @(Model.TitleOfCourtesy?.GetAttribute<DisplayAttribute>().Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistantPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistantPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotSendEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotSendEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotSendSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotSendSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Liseye Geri Dön", "Index")
        </div>
    }
</div>
