@model IEnumerable<SmallCRM.Model.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCountry.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryRegion.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceCity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceCountry.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceRegion.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCompany.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImkbCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerShip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicePostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAgent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCountry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryRegion.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceCity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceCountry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceRegion.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainCompany.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImkbCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerShip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicePostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAgent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
