@model IEnumerable<SmallCRM.Admin.Models.CompanyViewModel>

@{
    ViewBag.Title = "Firmalar";
}

<h2>Firmalar</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Yeni Firma</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CompanyLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCompanyOwner)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CompanyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AnnualIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImkbCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryRegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceRegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoicePostalCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPostalCode)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Owner)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.CompanyLocation)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.MainCompanyOwner)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.CompanyNumber)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.CompanyTypeName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.SectorName)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.AnnualIncome)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Stage)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Telephone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Fax)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Website)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ImkbCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.OwnerShip)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.NaceCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DeliveryCityName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DeliveryCountryName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DeliveryRegionName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.InvoiceCityName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.InvoiceCountryName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.InvoiceRegionName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.InvoiceAddress)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.InvoicePostalCode)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DeliveryPostalCode)
            </td>



            <td>
                @Html.DisplayNameFor(model => model.IsActive)
            </td>

            <td class="text-nowrap">
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm " })
                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm " })
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>

        }
    </tbody>


</table>
