@model SmallCRM.Admin.Models.ProjectViewModel

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Projeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Managers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Managers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BussinessAnalyists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BussinessAnalyists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItemStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemStatus)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
