@model SmallCRM.Model.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opportunity.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opportunity.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedRecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedRecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityStage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityStage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignExpectedRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignExpectedRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
