@model SmallCRM.Admin.Models.TimeSpendingViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeSpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItemStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemStatus)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
