@model SmallCRM.Admin.Models.TimeSpendingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItemStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemStatus)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
