@model IEnumerable<SmallCRM.Admin.Models.TimeSpendingViewModel>

@{
    ViewBag.Title = "Zaman Harcamaları";
}

    <h2>Zaman Harcamaları</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Yeni Zaman Harcaması</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItemStatus)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSpent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemStatus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new {@class="btn btn-success btn-sm" }) 
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new {@class="btn btn-default btn-sm" }) 
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new {@class="btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>
