@model SmallCRM.Admin.Models.OpportunityViewModel

@{
    ViewBag.Title = "Düzenle";
}

<h2>Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
<div class="form-horizontal">
    <h4>Satış Fırsatları</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyId, "Firma Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OpportunityType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.OpportunityType, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OpportunityType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NextStep, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NextStep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NextStep, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeadSourceId, "Müşteri Kaynağı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LeadSourceId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LeadSourceId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactId, "Kişi Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContactId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactId, "", new { @class = "text-danger" })
                    <br />
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal">Yeni Kişi</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Hızlı Oluştur:Kişi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-3 control-label"> Adı</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="firstName" name="firstName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label"> Soyadı</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="lastName" name="lastName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Firma Adı</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="contactCompany" name="contactCompany" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">E-Posta</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="tel" id="contactPosta" name="contactPosta" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 control-label">Telefon</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="tel" id="contactPhone" name="contactPhone" />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-primary" onclick="KisiEkle()">Kişi Ekle</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.CloseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CloseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OpportunityStage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.OpportunityStage, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OpportunityStage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Possibility, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Possibility, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Possibility, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpectedRevenue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpectedRevenue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpectedRevenue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CampaignSourceId, "Kampanya Kaynağı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CampaignSourceId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CampaignSourceId, "", new { @class = "text-danger" })
                    <br />
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal2">Yeni Kampanya</a>
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Hızlı Oluştur:Kampanya</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Tip<span class="required">*</span></label>
                                <div class="col-md-9">
                                    <select class="form-control" id="opportunityType">
                                        <option value="0">Yok</option>
                                        <option value="1">Konferans</option>
                                        <option value="2">Webiner</option>
                                        <option value="3">Ticari Fuar</option>
                                        <option value="4">Halkla İlişkiler</option>
                                        <option value="5">Ortaklar</option>
                                        <option value="6">Yönlendirme Programları</option>
                                        <option value="7">Reklam</option>
                                        <option value="8">Banner Reklamları</option>
                                        <option value="9">Direkt Gönderi</option>
                                        <option value="10">E-Posta</option>
                                        <option value="11">Telefonla Pazarlama</option>
                                        <option value="12">Diğerleri</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Kampanya Adı<span class="required">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="campaignName" name="campaignName" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Durum</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="campaignStatus">
                                        <option value="0">Yok</option>
                                        <option value="1">Planlanıyor</option>
                                        <option value="2">Aktif</option>
                                        <option value="3">Aktif Değil</option>
                                        <option value="4">Tamamlandı</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Başlangıç Tarihi</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="Date" id="startDate" name="startDate" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Bitiş Tarihi</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date" id="finishDate" name="finishDate" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Beklenen Ciro</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text" id="expectedRevenue" name="expectedRevenue" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-primary" onclick="KampanyaEkle()">Kampanya Ekle</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Listeye Geri Dön", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
<script>
         function KisiEkle() {
         var kisiAdi = $("#firstName").val();
         var kisiSoyadi = $("#lastName").val();
         var firmaAdi =$("#contactCompany").val();
         var kisieposta =$("#contactPosta").val();
         var kisitelefon=$("#contactPhone").val();


         $.post("@Url.Action("AddContact")", { firstName: kisiAdi, lastName: kisiSoyadi, contactCompany: firmaAdi, contactPosta: kisieposta, contactPhone: kisitelefon }, function (data) {
            if (data == true) {
                alert("Kişi başarıyla eklendi.");
                $("#exampleModal").modal("hide");

                $.post("@Url.Action("GetContacts")", null, function (data) {
                    $("#ContactId").empty();
                    $("#ContactId").append('<option value="">Kişi Seçiniz</option>');
                    $.each(data, function (index, value) {
                        $("#ContactId").append('<option value="' + value.Id + '">' + value.FullName + '</option>');
                    });

                });

            }
        });
    }
    function KampanyaEkle() {
        var tip = $("#opportunityType").val();
        var kampanyaAdı = $("#campaignName").val();
        var durum = $("#campaignStatus").val();
        var baslangicTarihi = $("#startDate").val();
        var bitisTarihi = $("#finishDate").val();
        var beklenenCiro = $("#expectedRevenue").val();
        $.post("@Url.Action("AddCampaignSource")", { OpportunityType: tip, campaignName: kampanyaAdı, campaignStatus: durum, startDate: baslangicTarihi, finishDate: bitisTarihi, expectedRevenue: beklenenCiro }, function (data) {
            if (data == true) {
                alert("Kampanya başarıyla eklendi.");
                $("#exampleModal2").modal("hide");

                $.post("@Url.Action("GetCampaigns")", null, function (data) {
                    $("#CampaignSourceId").empty();
                    $("#CampaignSourceId").append('<option value="">Kampanya Seçiniz</option>');
                    $.each(data, function (index, value) {
                        $("#CampaignSourceId").append('<option value="' + value.Id + '">' + value.Name + '</option>');
                    });

                });

            }
        });
    }
</script>
    }
